@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: #f1f1f1;
}

:root{
    --clr-background1: #1A1826;
    --clr-background2: #323859;
    --clr-background3: #212235;
    --clr-background4: #E0E0E0;
    
    --clr-accent1: #3084F2;
    --clr-accent1hover: #2261b4;
    --clr-accent2: #5ec75a;
    --clr-accent2hover: #41a13e;
    --clr-accent3: #db3232;
    --clr-accent3hover: #8d2222;

    --clr-textarea1: #c9c9c9;
    --clr-textarea2: #323859;

    --clr-text1: #f1f1f1;
    --clr-text2: #0f0f0f;
    --clr-text3: #dbdbdb;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background1);
    width: 100vw;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    scr
}

body::-webkit-scrollbar{
    display: none;
}

#wrapper::-webkit-scrollbar{
    display: none;
}

#wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--clr-background2);
    padding-top: 100px;
}

#wrapper #mainpage{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

a {
    color: var(--clr-text1);
    text-decoration: none;
  }

nav{
    position:fixed;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80px;
    padding: 20px;
    background-color: var(--clr-background4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0 0;
    z-index: 999;
}

nav .titre{
    font-size: 2rem;
}

.searchbar{
    display: block;
    position: relative;
    background-color: var(--clr-textarea1);
    border-radius: 5px;
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    height: 40px;
}

.searchbar input{
    display: block;
    background-color: var(--clr-textarea1);
    width: 250px;    
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--clr-text2);
}

.searchbar .fa-magnifying-glass{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--clr-text1);
    padding: 7px;
    border-radius: 5px;
    color: var(--clr-textarea1);
    transition: .3s;
}

.searchbar .fa-magnifying-glass:hover{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    cursor: pointer;
}

.searchbar input::placeholder {
    color: var(--clr-text2);
    font-weight: 200;
 }

 .searchbar #suggestions{
    position: absolute;
    display: none;
    flex-wrap: wrap;
    top: 38px;
    left: 0px;
    width: 100%;
    height: fit-content;
    max-height: 174px;
    overflow: hidden;
    background-color: var(--clr-background3);
    backdrop-filter: blur(5px);
    border-radius: 0 0 5px 5px;
    z-index: 999;
}

.searchbar #suggestions li{
    position: relative;
    width: 100%;
    text-align: start;
    display: none;
    flex-wrap: wrap;
    border-bottom: solid 1px var(--clr-background1);
    z-index: 999;
}

.searchbar #suggestions .suggestion{
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}

.searchbar #suggestions .suggestion .imageProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.searchbar #suggestions .suggestion .imageProfil img{
    height: 30px;
}

.searchbar #suggestions .suggestion .pseudo{
    width: 100%;
    color: var(--clr-accent2);
}

.searchbar #suggestions .suggestion .role{
    /* width: 100%; */
    color: var(--clr-text1);
    font-size: .8rem;
    font-weight: 200;
    font-style: italic;
}

.searchbar #suggestions li a{
    display: flex;
    padding: 5px;
    width: 100%;
}

.searchbar #suggestions a:hover{
    background-color: var(--clr-accent1);
}


#nav-left{
    width: 50%;
}

#nav-left .titre{
    transition: .2s;
    color: var(--clr-background2);
}

#nav-left .titre:hover{
    color: var(--clr-accent1);
}



#nav-right{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 50%;
    text-transform: uppercase;
    font-weight: 300;
}


#nav-right a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--clr-background2);
    transition: .2s;
}

#nav-right a:hover{
    color: var(--clr-accent1);
}

#nav-right a span{
    color: var(--clr-background2);
    transition: .2s;
}

#nav-right a:hover span{
    color: var(--clr-accent1);
}

#nav-right .imageProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

#nav-right .imageProfil img{
    height: 30px;
}

#nav-right #imageUtilisateur{
   display: none;
}

#nav-right #imageUtilisateur img{
    display: none;
}

#nav-right .pseudonyme{
    color: var(--clr-background2);
}

#utilisateurs {
    position: absolute;
    bottom: 0;
    font-size: .7rem;
}

.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#forum{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenuPage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 40%;
    max-width: 800px;
    padding: 5px;
}

#overlay{
    position: absolute;
    top: -10px;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f00;
    backdrop-filter: blur(0px);
    transition: .4s;
    z-index: -1;
}

#menuMobile{
    z-index: 1000;
    position: fixed;
    right: -300px;
    top: 0;
    padding: 10px;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--clr-background4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translateX(0);
    transition: .4s;
}

#menuMobile #btnFermer{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
}

#menuMobile #btnFermer .fa-xmark{
    color: var(--clr-text2);
}

#menuMobile .imageProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

#menuMobile .imageProfil img{
    height: 30px;
}

#menuMobile .pseudonyme{
    position: absolute;
    top: 13px;
    left: 45px;
    color: var(--clr-text2);
}

#menuMobile .inscription{
    color: var(--clr-text2);
    width: 100%;
    /* text-align: end; */
}

#menuMobile .connexion{
    color: var(--clr-text2);
    width: 100%;
    /* text-align: end; */
}

#menuMobile .deconnexion{
    color: var(--clr-text2);
    width: 100%;
    /* text-align: end; */
}

#menuMobile #utilisateurs{
    color: var(--clr-text2);
    position: relative;
    font-size: 1rem;
    width: 100%;
    /* text-align: end; */
}

/* -----------------------------------HOME------------------------------------ */
#home{
    padding: 20px;
}

#home #entrer{
    margin-top: 200px;
    margin-bottom: 140px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#home #entrer a{
    transition: .2s;
    color: var(--clr-text1);
}

#home #entrer a:hover{
    color: var(--clr-accent1);
}


/* -----------------------------------INSCRIPTION/CONNEXION------------------------------------ */

.message{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.login{
    margin-bottom: 210px;
    display: flex;

}

.register{
    margin-bottom: 100px;
}

.formulaire{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin-top: 80px;
    padding: 20px;
    gap: 20px;
    background-color: var(--clr-background4);
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.formulaire p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-background3);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 50px;
    line-height: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.formulaire input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--clr-textarea1);
    outline: none;
    color: #1d1d1d;
}

.formulaire input:nth-child(2){
    margin-top: 50px;
}

.formulaire .btnInscription{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnConnexion{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnInscription:hover, .btnConnexion:hover{
    cursor: pointer;
    background-color: var(--clr-background3);
}

.formulaire a{
    transition: .2s;
    color: var(--clr-text2); 
}

.formulaire a:hover{
    color: var(--clr-accent1);
}


/* -----------------------------------LISTE VISITEURS------------------------------------ */
.listeVisiteurs .infosVisiteur{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
}

.listeVisiteurs .infosVisiteur div{
    width: 100%;
}

.listeVisiteurs .infosVisiteur a{
    margin-left: 5px;
    color: var(--clr-accent2);
    transition: .2s;
}

.listeVisiteurs .infosVisiteur div:nth-child(2){
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
}

.listeVisiteurs .infosVisiteur div:nth-child(6){
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-background1);
}

.listeVisiteurs .infosVisiteur a:hover{
    color: var(--clr-accent1);
}

.infosVisiteur span:nth-child(6){
    margin-left: 5px;
    color: var(--clr-text3);
}

.infosVisiteur .contenu{
    font-weight: 200;
}

/* -----------------------------------PROFIL------------------------------------ */
.profil{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 800px;
}
.profil .infosVisiteur{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
}

.profil .infosVisiteur div{
    width: 100%;
}

.profil .infosVisiteur div:nth-child(2){
    position: absolute;
    top: 10px;
    right: 90px;
    width: fit-content;
}

.profil .infosVisiteur div:nth-child(6){
    margin-bottom: 38px;
}

.profil .infosVisiteur div:nth-child(6) p{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-background1);
}

.profil .formRole{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.profil #selectRole{
    position: relative;
    background-color: var(--clr-background2);
    border: none;
    outline: none;
    padding: 2px 5px;
    border-radius:  5px 0 0 5px;
    font-size: .9rem;
}

.profil #selectRole:hover{
    cursor: pointer;
}

.profil .formRole .btnValider{
    background-color: var(--clr-accent2);
    border: none;
    padding: 3px 5px;
    border-radius:  0 5px 5px 0;
    font-size: .9rem;
    transition: .2s;
}

.profil .formRole .btnValider:hover{
    background-color: var(--clr-accent2hover);
    cursor: pointer;
    
}

.profil .btnBannir{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 5px;
    background-color: var(--clr-accent3);
    border-radius: 5px;
    font-size: .9rem;
    transition: .2s;
}

.profil .btnBannir:hover{
    background-color: var(--clr-accent3hover);
}

.profil .btnDebannir{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 5px;
    background-color: var(--clr-accent2);
    border-radius: 5px;
    font-size: .9rem;
    transition: .2s;
}

.profil .btnDebannir:hover{
    background-color: var(--clr-accent2hover);
}

.profil  .modifProfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--clr-background3);
}

.profil .modifProfil .formModif{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profil .modifProfil .champPseudo{
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-background2);
    border: none;
    outline: none;
}

.profil .modifProfil .champMail{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-background2);
    border: none;
    outline: none;
}

.profil .modifProfil .champImage{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr-background2);
    border: none;
    outline: none;
}

.profil .modifProfil .btnValider{
    width: 30%;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--clr-accent2);
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.profil .modifProfil .btnValider:hover{
    background-color: var(--clr-accent2hover);   
    cursor: pointer; 
}


/* -----------------------------------CATEGORIES------------------------------------ */
#nouvelleCategorie{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding:  10px;
    background-color: var(--clr-background3); 
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

#nouvelleCategorie #champCategorie{
    margin-left: 20px;
    margin-right: 140px;
    padding: 0 10px ;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    background-color: var(--clr-textarea2);
    border: none;
    outline: none;
    color: var(--clr-text3);
}

#nouvelleCategorie #btnAjouter{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    background-color: var(--clr-accent1);
    border-radius: 0 5px 5px 0;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

#nouvelleCategorie #btnAjouter:hover{
    cursor: pointer;
    background-color: var(--clr-accent1hover);
    
}

#nouvelleCategorie #champTitre::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
}

.listeCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* min-width: 100%; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.listeCategories:last-child{
    margin-bottom: 295px;
}
.categorie{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    transition: .2s;
}

.categorie:hover{
    background-color: var(--clr-accent1);
}

.categorie .nomCategorie{
    font-size: 1.4rem;
    text-transform: uppercase;
}

.categorie .supprimer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.categorie .fa-solid{
    margin-right: 3px;
    transition: .2s;
    }
    
    .categorie .statut:hover, .categorie .supprimer:hover{
        color: var(--clr-text2);
        cursor: pointer;
    }
    
    .categorie .statut:hover .fa-solid, .categorie .supprimer:hover .fa-solid{
        color: var(--clr-text2);
        cursor: pointer;
    }




/* -----------------------------------SUJETS------------------------------------ */
.infoSujet{
    display: flex;
    flex-wrap: wrap;
}

.infoSujet div{
    width: 100%;
}
.infoSujet .contenu{
    margin-left: 5px;
    font-weight: 200;
}

.infoSujet a{
    color: var(--clr-accent2);
}

.infoSujet a:hover{
    color: var(--clr-accent2hover);
}
#nouveauSujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding:  10px;
    background-color: var(--clr-background3); 
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

#nouveauSujet span{
    position: absolute;
    top: 13px;
    left: 10px;
}

#nouveauSujet #champTitre{
    position: absolute;
    top: 10px;
    right: 17px;
    margin-left: 20px;
    padding: 0 10px ;
    border-radius: 5px;
    width: 79%;
    height: 30px;
    background-color: var(--clr-textarea2);
    border: none;
    outline: none;
    color: var(--clr-text3);
}

#nouveauSujet #champMessage{
    /* display: none; */
    width: 100%;
    height: 100px;
    margin-top: 50px;
    padding: 10px ;
    border-radius: 5px;
    background-color: var(--clr-textarea2);
    border: none;
    outline: none;
    color: var(--clr-text3);
    resize: none;

}

#nouveauSujet #btnAjouter{
    /* display: none; */
    margin-top: 10px;
    padding: 5px;
    background-color: var(--clr-accent1);
    border-radius: 5px;
    width: 20%;
    min-width: 80px;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

#nouveauSujet #btnAjouter:hover{
    cursor: pointer;
    background-color: var(--clr-accent1hover);

}

#nouveauSujet #champTitre::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

#nouveauSujet #champMessage::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

 #nouveauSujet .fa-plus{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: var(--clr-text1);
    padding: 6px;
    border-radius: 5px;
    color: var(--clr-background3);
    transition: .4s;
}

#nouveauSujet .fa-plus:hover{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    cursor: pointer;
}

.listeSujets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    transition: .2s;
}

.sujet:hover{
    background-color: var(--clr-accent1);
}

.sujet .lienSujet{
    width: 100%;
}

.sujet .titre{
    width: 100%;
    font-size: 1.3rem;
}

.sujet .par{
    font-size: .8rem;
    font-weight: 200;
    margin-top: 3px;
    margin-right: 3px;
}

.sujet .pseudo{
    font-weight: 300;
}

.statut{
    position: absolute;
    bottom: 5px;
    right: 90px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.locked .fa-solid{
    color: var(--clr-accent3);
}

.unlocked .fa-solid{
    color: var(--clr-accent2);
}

.sujet .supprimer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.sujet .fa-solid{
margin-right: 3px;
transition: .2s;
}

.sujet .statut:hover, .sujet .supprimer:hover{
    color: var(--clr-text2);
    cursor: pointer;
}

.sujet .statut:hover .fa-solid, .sujet .supprimer:hover .fa-solid{
    color: var(--clr-text2);
    cursor: pointer;
}


/* -----------------------------------MESSAGES------------------------------------ */

.infoSujet{
    background-color: var(--clr-background3);
    height: 100px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.nouveauMessage{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding:  10px;
    background-color: var(--clr-background3); 
    border-radius: 5px;
}

.nouveauMessage .champMessage{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px ;
    border-radius: 5px;
    background-color: var(--clr-background1);
    border: none;
    outline: none;
    color: var(--clr-text1);
    resize: none;

}

.nouveauMessage .btnAjouter{
    margin-top: 10px;
    padding: 5px;
    background-color: var(--clr-accent2);
    border-radius: 5px;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

.nouveauMessage .btnAjouter:hover{
    cursor: pointer;
    background-color: var(--clr-accent2hover);

}

.nouveauMessage .champMessage::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

.listeMessages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.message2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
    margin-top: 10px;
}

.message2 .imageProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.message2 .imageProfil img{
    height: 30px;
}

.message2 .pseudo{
    width: 92%;
    color: var(--clr-accent2);
    transition: .2s;
}

.message2 .pseudo:hover{
    color: var(--clr-accent2hover);
}

.message2 .role{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--clr-accent2);
    justify-content: flex-end;
}

.message2 .date{
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
}

.message2 .texte{
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
    background-color: var(--clr-background1);
}

.message2 .interactions{
    display: flex;
    width: 100%;
}

.message2 .vote{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vote button{
    background: none;
    border: none;
}

.vote .fa-up-long,.fa-down-long{
    padding: 5px;
    font-size: 1rem;
    background-color: none;
    color: var(--clr-text1);
    transition: .2s;
}

.vote .fa-up-long:hover{
    color: var(--clr-accent2);
    cursor: pointer;
}

.vote .fa-down-long:hover{
    color: var(--clr-accent3);
    cursor: pointer;
}

.message2 .supprimer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.message2 .btnSupprimer{
    padding: 3px 5px;
    background-color: var(--clr-accent3);
    border-radius: 5px;
    transition: .2s;
}

.message2 .btnSupprimer:hover{
    background-color: var(--clr-accent3hover);
}

footer{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: var(--clr-background3);
}


.btnRetour{
    position: fixed;
    top: 130px;
    left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--clr-background4);
    transition: .2s;
}

.btnRetour:hover{
    border-radius: 50%;
    background-color: var(--clr-accent1);
}

.btnRetour i{
    font-size: 1.5rem;
    color: var(--clr-background2);
    transition: .2s;
}

.btnRetour:hover i{
    color: var(--clr-text1);
}

/* -----------------------------------RESPONSIVE------------------------------------ */

@media screen and (max-width: 1130px ){
    .btnRetour{
        display: none;
    }


}

@media screen and (max-width: 890px ){
    #wrapper{
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 60px;
    }

    nav{
        top: 0px;
        width: 100vw;
        height: 50px;
        padding: 20px;
        border-radius: 0;
    }

    .profil .infosVisiteur div:nth-child(2){
        position: relative;
        top: 0px;
        right: 0px;
    }    
}

@media screen and (max-width: 800px ){
    .profil  .modifProfil{
        border-radius: 0;
    }

    .profil .infosVisiteur{
        border-radius: 0;
    }
}
@media screen and (max-width: 794px ){
    #nouvelleCategorie span{
        display: none;
    }
    #nouvelleCategorie #champCategorie{
        position: absolute;
        left: 5px;
        min-width: 80%;
        margin-left: 5px;
    }
    #nouvelleCategorie #btnAjouter{
        position: absolute;
        right: 5px;
        min-width: 110px;
    }
}

@media screen and (max-width: 750px ){
    #nav-right .connexion{
        display: none;
    }

    #nav-right .inscription{
        display: none;
    }
    
    #nav-right .pseudonyme{
        display: none;
    }

    #nav-right .imageProfil{
        display: none;
    }
    
    #nav-right .deconnexion{
        display: none;
    }

    #nav-right #imageUtilisateur{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #nav-right #imageUtilisateur img{
        height: 30px;
    }

    #nouveauSujet span{
        display: none;
    }
    
    #nav-right a#utilisateurs{
       display: none;
    }

    #nouveauSujet #champTitre{
        position: absolute;
        left: 5px;
        min-width: 96%;
        margin-left: 5px;
    }

    #nouveauSujet #boutonPlus{
        position: absolute;
        right: 5px;
    }
}

@media screen and (max-width: 500px ){
    .searchbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        left: 0;
        background-color: var(--clr-background4);
        background-color: rgba(255, 0, 0, 0);
        border-radius: 5px;
        min-width: 100vw;
        height: 30px;
        overflow:visible;
    }
    
    .searchbar input{
        position: absolute;
        top: 50px;
        width: 95vw;
        background-color: var(--clr-text1);
        transition: .4s;
        z-index: -1;
        display: none;
    }

    .searchbar .fa-magnifying-glass{
        position: absolute;
        top: 0px;
        right: 60px;
        background-color: var(--clr-accent1);
        padding: 7px;
        border-radius: 5px;
        color: var(--clr-text1);
        transition: .3s;
    }

    .searchbar #suggestions{
        position: absolute;
        display: none;
        flex-wrap: wrap;
        top: 85px;
        left: 10px;
        width: 95vw;
        height: fit-content;
        max-height: 174px;
        overflow: hidden;
        background-color: var(--clr-background3);
        backdrop-filter: blur(5px);
        border-radius: 0 0 5px 5px;
    }

    .listeVisiteurs .infosVisiteur div:nth-child(2){
        position: relative;
        top: 0px;
        margin-left: 10px;
        width: fit-content;
    }
}
