@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: #f1f1f1;
}


body{
    background-color: #1A1C40;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

#wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #4449a66b;
    padding-top: 100px;
}

a {
    color: #f1f1f1;
    text-decoration: none;
  }

nav{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0 0;
}

nav .titre{
    font-size: 2rem;
}

.searchbar{
    position: relative;
    background-color: #4449A6;
    border-radius: 5px;
    width: 350px;
    height: 40px;
}

.searchbar input{
    background-color: #4449A6;
    width: 250px;    
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #f1f1f1
    place
}

.searchbar .fa-magnifying-glass{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    color: #4449A6;
    transition: .3s;
}

.searchbar .fa-magnifying-glass:hover{
    color: #f1f1f1;
    background-color: #1A1C40;
    cursor: pointer;
}

.searchbar input::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

#nav-left{
    width: 50%;
}

#nav-left .titre{
    transition: .2s;
}

#nav-left .titre:hover{
    color: #1A1C40;
}



#nav-right{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 50%;
    text-transform: uppercase;
    font-weight: 300;
}

.hidden{
    display: none;
}

/* -----------------------------------CATEGORIES------------------------------------ */

.listeCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.categorie{
    width: 800px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.categorie:hover{
    background-color: #4449A6;
}

.categorie .nomCategorie{
    font-size: 1.4rem;
    text-transform: uppercase;
}


/* -----------------------------------SUJETS------------------------------------ */
.nouveauSujet{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: 40px;
    padding-left: 10px;
    background-color: #494FBF; 
    border-radius: 5px;
}

.nouveauSujet input{
    margin-left: 20px;
    padding: 0 10px ;
    border-radius: 5px;
    width: 550px;
    height: 30px;
    background-color: #4449A6;
    border: none;
    outline: none;
    color: #f1f1f1;
}

.nouveauSujet input::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

 .nouveauSujet .fa-plus{
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 5px;
    color: #4449A6;
    transition: .3s;
}

.nouveauSujet .fa-plus:hover{
    color: #f1f1f1;
    background-color: #1A1C40;
    cursor: pointer;
}

.listeSujets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sujet{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 800px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.sujet:hover{
    background-color: #4449A6;
}

.sujet .titre{
    width: 100%;
    font-size: 1.3rem;
}

.sujet .par{
    /* line-height: 10px; */
    font-size: .8rem;
    font-weight: 200;
    margin-top: 3px;
    margin-right: 3px;
    transform: translateY(-35px);
}

.sujet .pseudo{
    /* line-height: 10px; */
    font-weight: 300;
    transform: translateY(-35px);
}

.sujet .message2{
    background-color: #4449A6;
    filter: none;
    width: 100%;
    
}


/* -----------------------------------MESSAGES------------------------------------ */

.infoSujet{
    background-color: #494FBF;
    height: 100px;
    width: 800px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.listeMessages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.message2{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.message2 .pseudo{
    width: 94%;
}

.message2 .role{
    display: flex;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #1A1C40;
    /* width: 50%; */
}

.message2 .date{
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
}

.message2 .texte{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4449A6;
}

.message2 .interactions{
    display: flex;
    width: 100%;
}

.message2 .repondre{
    width: 50%;
}

.repondre .fa-comment{
    background-color: none;
    color: #f1f1f1;
}

.repondre button{
    background-color: #0F1359;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-transform:none;
    transition: .2s;
}

.repondre button:hover{
    background-color: #1A1C40;
    cursor: pointer;
}

.message2 .vote{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vote button{
    background: none;
    border: none;
}

.vote .fa-up-long,.fa-down-long{
    padding: 5px;
    font-size: 1rem;
    background-color: none;
    color: #f1f1f1;
    transition: .2s;
}

.vote .fa-up-long:hover{
    color: #28a042;
    cursor: pointer;
}

.vote .fa-down-long:hover{
    color: #aa2020;
    cursor: pointer;
}




footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #1d1d1d;
}