@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: #f1f1f1;
}


body{
    background-color: #1A1C40;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

#wrapper::-webkit-scrollbar{
    display: none;
}

#wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #4449a66b;
    padding-top: 100px;
}

a {
    color: #f1f1f1;
    text-decoration: none;
  }

nav{
    position: fixed;
    top: 30px;
    left: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80px;
    padding: 20px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0 0;
    z-index: 999;
}

nav .titre{
    font-size: 2rem;
}

.searchbar{
    position: relative;
    background-color: #4449A6;
    border-radius: 5px;
    width: 350px;
    height: 40px;
}

.searchbar input{
    background-color: #4449A6;
    width: 250px;    
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #f1f1f1
    place
}

.searchbar .fa-magnifying-glass{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    color: #4449A6;
    transition: .3s;
}

.searchbar .fa-magnifying-glass:hover{
    color: #f1f1f1;
    background-color: #1A1C40;
    cursor: pointer;
}

.searchbar input::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

#nav-left{
    width: 50%;
}

#nav-left .titre{
    transition: .2s;
}

#nav-left .titre:hover{
    color: #1A1C40;
}



#nav-right{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 50%;
    text-transform: uppercase;
    font-weight: 300;
}


#nav-right a{
    color: #f1f1f1;
    transition: .2s;
}

#nav-right a:hover{
    color: #1A1C40;
}

#nav-right a span{
    color: #f1f1f1;
    transition: .2s;
}

#nav-right a:hover span{
    color: #1A1C40;
}

#utilisateurs {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
}

/* -----------------------------------HOME------------------------------------ */
#home{
    padding: 20px;
}

#home #entrer{
    /* position: absolute; */
    /* top: 600px;
    left: 45%; */
    margin-top: 200px;
    margin-bottom: 140px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#home #entrer a{
    transition: .2s;
    color: #f1f1f1;
}

#home #entrer a:hover{
    color: #0F1359;
}


/* -----------------------------------INSCRIPTION/CONNEXION------------------------------------ */

.message{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.formulaire{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin-top: 80px;
    padding: 20px;
    gap: 20px;
    background-color: #494FBF;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.formulaire p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0F1359;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 50px;
    line-height: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.formulaire input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    outline: none;
    color: #1d1d1d;
    /* margin: 10px 30px; */
}

.formulaire input:nth-child(2){
    margin-top: 50px;
}

.formulaire .btnInscription{
    color: #f1f1f1;
    background-color: #0F1359;
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnConnexion{
    color: #f1f1f1;
    background-color: #0F1359;
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnInscription:hover, .btnConnexion:hover{
    cursor: pointer;
    background-color: #181e8a;
}

.formulaire a{
    transition: .2s;    
}

.formulaire a:hover{
    color: #181e8a;
}


/* -----------------------------------LISTE VISITEURS------------------------------------ */
.infosVisiteur{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1A1C40;
}

.infosVisiteur span:nth-child(2){
    width: 80%;
    margin-left: 5px;
    color: red
}

.infosVisiteur span:nth-child(4){
    margin-left: 5px;
    color: #dbdbdb;
}

.infosVisiteur span:nth-child(6){
    margin-left: 5px;
    color: #dbdbdb;
}

.infosVisiteur span:nth-child(7){
    margin-left: 20px;
}

.infosVisiteur span:nth-child(8){
    width: 90%;
    margin-left: 5px;
    color: #dbdbdb;
}

.infosVisiteur span:nth-child(10){
    color: #dbdbdb;
}

.infosVisiteur .contenu{
    font-weight: 200;
}

/* -----------------------------------CATEGORIES------------------------------------ */

.listeCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.categorie{
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.categorie:hover{
    background-color: #4449A6;
}

.categorie .nomCategorie{
    font-size: 1.4rem;
    text-transform: uppercase;
}


/* -----------------------------------SUJETS------------------------------------ */
.nouveauSujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: fit-content;
    padding:  10px;
    background-color: #494FBF; 
    border-radius: 5px;
}

.nouveauSujet #champTitre{
    margin-left: 20px;
    padding: 0 10px ;
    border-radius: 5px;
    width: 79%;
    height: 30px;
    background-color: #4449A6;
    border: none;
    outline: none;
    color: #f1f1f1;
}

.nouveauSujet #champMessage{
    display: none;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px ;
    border-radius: 5px;
    background-color: #4449A6;
    border: none;
    outline: none;
    color: #f1f1f1;
    resize: none;

}

.nouveauSujet #btnAjouter{
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #0F1359;
    border-radius: 5px;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

.nouveauSujet #btnAjouter:hover{
    cursor: pointer;
    background-color: #1A1C40;

}

.nouveauSujet #champTitre::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

.nouveauSujet #champMessage::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

 .nouveauSujet .fa-plus{
    margin-left: 5px;
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 5px;
    color: #4449A6;
    transition: .3s;
}

.nouveauSujet .fa-plus:hover{
    color: #f1f1f1;
    background-color: #1A1C40;
    cursor: pointer;
}

.listeSujets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.sujet:hover{
    background-color: #4449A6;
}

.sujet .titre{
    width: 100%;
    font-size: 1.3rem;
}

.sujet .par{
    /* line-height: 10px; */
    font-size: .8rem;
    font-weight: 200;
    margin-top: 3px;
    margin-right: 3px;
    /* transform: translateY(-35px); */
}

.sujet .pseudo{
    /* line-height: 10px; */
    font-weight: 300;
    /* transform: translateY(-35px); */
}

.statut{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.locked .fa-solid{
    color: rgb(255, 115, 0);
}

.unlocked .fa-solid{
    color: rgb(0, 175, 0);
}

.supprimer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.fa-solid{
margin-right: 3px;
transition: .2s;
}

.statut:hover, .supprimer:hover{
    color: #afafaf;
    cursor: pointer;
}

.statut:hover .fa-solid, .supprimer:hover .fa-solid{
    color: #afafaf;
    cursor: pointer;
}

/* .sujet .message2{
    background-color: #4449A6;
    filter: none;
    width: 100%;
    
} */


/* -----------------------------------MESSAGES------------------------------------ */

.infoSujet{
    background-color: #494FBF;
    height: 100px;
    width: 800px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.nouveauMessage{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: fit-content;
    padding:  10px;
    background-color: #494FBF; 
    border-radius: 5px;
}

.nouveauMessage .champMessage{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px ;
    border-radius: 5px;
    background-color: #4449A6;
    border: none;
    outline: none;
    color: #f1f1f1;
    resize: none;

}

.nouveauMessage .btnAjouter{
    margin-top: 10px;
    padding: 5px;
    background-color: #0F1359;
    border-radius: 5px;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

.nouveauMessage .btnAjouter:hover{
    cursor: pointer;
    background-color: #1A1C40;

}

.nouveauMessage .champMessage::placeholder {
    color: #f1f1f1;
    font-weight: 200;
 }

.listeMessages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.message2{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: #494FBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.message2 .pseudo{
    width: 92%;
}

.message2 .role{
    display: flex;
    /* width: 50%; */
    padding: 0 5px;
    border-radius: 5px;
    background-color: #1A1C40;
    justify-content: flex-end;
}

.message2 .date{
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
}

.message2 .texte{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4449A6;
}

.message2 .interactions{
    display: flex;
    width: 100%;
}

.message2 .repondre{
    width: 50%;
}

.repondre .fa-comment{
    background-color: none;
    color: #f1f1f1;
}

.repondre button{
    background-color: #0F1359;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-transform:none;
    transition: .2s;
}

.repondre button:hover{
    background-color: #1A1C40;
    cursor: pointer;
}

.repondre input{
    display: none;
}

.message2 .vote{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vote button{
    background: none;
    border: none;
}

.vote .fa-up-long,.fa-down-long{
    padding: 5px;
    font-size: 1rem;
    background-color: none;
    color: #f1f1f1;
    transition: .2s;
}

.vote .fa-up-long:hover{
    color: #28a042;
    cursor: pointer;
}

.vote .fa-down-long:hover{
    color: #aa2020;
    cursor: pointer;
}




footer{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: #1d1d1d;
}