@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: #f1f1f1;
}

:root{
    --clr-background1: #1A1826;
    --clr-background2: #323859;
    --clr-background3: #212235;
    --clr-background4: #E0E0E0;
    
    --clr-accent1: #3084F2;
    --clr-accent1hover: #2261b4;
    --clr-accent2: #5ec75a;
    --clr-accent2hover: #41a13e;
    --clr-accent3: #db3232;
    --clr-accent3hover: #8d2222;

    --clr-textarea1: #c9c9c9;
    --clr-textarea2: #323859;

    --clr-text1: #f1f1f1;
    --clr-text2: #0f0f0f;
    --clr-text3: #dbdbdb;
}


body{
    background-color: var(--clr-background1);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

#wrapper::-webkit-scrollbar{
    display: none;
}

#wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--clr-background2);
    padding-top: 100px;
}

a {
    color: var(--clr-text1);
    text-decoration: none;
  }

nav{
    position: fixed;
    top: 30px;
    left: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80px;
    padding: 20px;
    background-color: var(--clr-background4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0 0;
    z-index: 999;
}

nav .titre{
    font-size: 2rem;
}

.searchbar{
    position: relative;
    background-color: var(--clr-textarea1);
    border-radius: 5px;
    width: 350px;
    height: 40px;
}

.searchbar input{
    background-color: var(--clr-textarea1);
    width: 250px;    
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--clr-text2);
}

.searchbar .fa-magnifying-glass{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--clr-text1);
    padding: 7px;
    border-radius: 5px;
    color: var(--clr-textarea1);
    transition: .3s;
}

.searchbar .fa-magnifying-glass:hover{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    cursor: pointer;
}

.searchbar input::placeholder {
    color: var(--clr-text2);
    font-weight: 200;
 }

#nav-left{
    width: 50%;
}

#nav-left .titre{
    transition: .2s;
    color: var(--clr-background2);
}

#nav-left .titre:hover{
    color: var(--clr-accent1);
}



#nav-right{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 50%;
    text-transform: uppercase;
    font-weight: 300;
}


#nav-right a{
    color: var(--clr-background2);
    transition: .2s;
}

#nav-right a:hover{
    color: var(--clr-accent1);
}

#nav-right a span{
    color: var(--clr-background2);
    transition: .2s;
}

#nav-right a:hover span{
    color: var(--clr-accent1);
}

#utilisateurs {
    position: absolute;
    bottom: 0;
    font-size: .7rem;
}

/* -----------------------------------HOME------------------------------------ */
#home{
    padding: 20px;
}

#home #entrer{
    /* position: absolute; */
    /* top: 600px;
    left: 45%; */
    margin-top: 200px;
    margin-bottom: 140px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

#home #entrer a{
    transition: .2s;
    color: var(--clr-text1);
}

#home #entrer a:hover{
    color: var(--clr-accent1);
}


/* -----------------------------------INSCRIPTION/CONNEXION------------------------------------ */

.message{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.formulaire{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin-top: 80px;
    padding: 20px;
    gap: 20px;
    background-color: var(--clr-background4);
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.formulaire p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-background3);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 50px;
    line-height: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.formulaire input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--clr-textarea1);
    outline: none;
    color: #1d1d1d;
    /* margin: 10px 30px; */
}

.formulaire input:nth-child(2){
    margin-top: 50px;
}

.formulaire .btnInscription{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnConnexion{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    width: 100px;
    line-height: 10px;
    transition: .2s;
}

.formulaire .btnInscription:hover, .btnConnexion:hover{
    cursor: pointer;
    background-color: var(--clr-background3);
}

.formulaire a{
    transition: .2s;
    color: var(--clr-text2); 
}

.formulaire a:hover{
    color: var(--clr-accent1);
}


/* -----------------------------------LISTE VISITEURS------------------------------------ */
.infosVisiteur{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
}

.listeVisiteurs .infosVisiteur a{
    width: 80%;
    margin-left: 5px;
    color: var(--clr-accent2);
    transition: .2s;
}

.listeVisiteurs .infosVisiteur a:hover{
    color: var(--clr-accent1);
}

.infosVisiteur span:nth-child(4){
    margin-left: 5px;
    color: var(--clr-text3);
}

.infosVisiteur span:nth-child(6){
    margin-left: 5px;
    color: var(--clr-text3);
}

.infosVisiteur span:nth-child(7){
    margin-left: 20px;
}

.infosVisiteur span:nth-child(8){
    width: 90%;
    margin-left: 5px;
    color: var(--clr-text3);
}

.infosVisiteur span:nth-child(10){
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: var(--clr-text3);
    background-color: var(--clr-background1);
}

.infosVisiteur .contenu{
    font-weight: 200;
}

/* -----------------------------------PROFIL------------------------------------ */
.profil .infosVisiteur{
    position: relative;
}

.profil span:nth-child(2){
    width: 80%;
    margin-left: 5px;
    color: var(--clr-accent2)
}
.profil span:nth-child(10){
    margin-bottom: 40px;
}

.profil form{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.profil #selectRole{
    position: relative;
    background-color: var(--clr-background2);
    border: none;
    outline: none;
    padding: 2px 5px;
    border-radius:  5px 0 0 5px;
    font-size: .9rem;
}

.profil #selectRole:hover{
    cursor: pointer;
}

.profil .btnValider{
    background-color: var(--clr-accent2);
    border: none;
    padding: 3px 5px;
    border-radius:  0 5px 5px 0;
    font-size: .9rem;
    transition: .2s;
}

.profil .btnValider:hover{
    background-color: var(--clr-accent2hover);
    cursor: pointer;
    
}

.profil .btnBannir{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 5px;
    background-color: var(--clr-accent3);
    border-radius: 5px;
    font-size: .9rem;
    transition: .2s;
}

.profil .btnBannir:hover{
    background-color: var(--clr-accent3hover);
}

.profil .btnDebannir{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 5px;
    background-color: var(--clr-accent2);
    border-radius: 5px;
    transition: .2s;
}

.profil .btnDebannir:hover{
    background-color: var(--clr-accent2hover);
}
/* -----------------------------------CATEGORIES------------------------------------ */

.listeCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.categorie{
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.categorie:hover{
    background-color: var(--clr-accent1);
}

.categorie .nomCategorie{
    font-size: 1.4rem;
    text-transform: uppercase;
}


/* -----------------------------------SUJETS------------------------------------ */
.infoSujet{
    display: flex;
    flex-wrap: wrap;
}

.infoSujet div{
    width: 100%;
}
.infoSujet .contenu{
    margin-left: 5px;
    font-weight: 200;
}

.infoSujet a{
    color: var(--clr-accent2);
}

.infoSujet a:hover{
    color: var(--clr-accent2hover);
}
#nouveauSujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 50px;
    padding:  10px;
    background-color: var(--clr-background3); 
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

#nouveauSujet #champTitre{
    margin-left: 20px;
    padding: 0 10px ;
    border-radius: 5px;
    width: 79%;
    height: 30px;
    background-color: var(--clr-textarea2);
    border: none;
    outline: none;
    color: var(--clr-text3);
}

#nouveauSujet #champMessage{
    /* display: none; */
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px ;
    border-radius: 5px;
    background-color: var(--clr-textarea2);
    border: none;
    outline: none;
    color: var(--clr-text3);
    resize: none;

}

#nouveauSujet #btnAjouter{
    /* display: none; */
    margin-top: 10px;
    padding: 5px;
    background-color: var(--clr-accent1);
    border-radius: 5px;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

#nouveauSujet #btnAjouter:hover{
    cursor: pointer;
    background-color: var(--clr-accent1hover);

}

#nouveauSujet #champTitre::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

#nouveauSujet #champMessage::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

 #nouveauSujet .fa-plus{
    margin-left: 5px;
    background-color: var(--clr-text1);
    padding: 6px;
    border-radius: 5px;
    color: var(--clr-background3);
    transition: .4s;
}

#nouveauSujet .fa-plus:hover{
    color: var(--clr-text1);
    background-color: var(--clr-accent1);
    cursor: pointer;
}

.listeSujets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.sujet{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.sujet:hover{
    background-color: var(--clr-accent1);
}

.sujet .lienSujet{
    width: 100%;
}

.sujet .titre{
    width: 100%;
    font-size: 1.3rem;
}

.sujet .par{
    font-size: .8rem;
    font-weight: 200;
    margin-top: 3px;
    margin-right: 3px;
}

.sujet .pseudo{
    font-weight: 300;
}

.statut{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.locked .fa-solid{
    color: var(--clr-accent3);
}

.unlocked .fa-solid{
    color: var(--clr-accent2);
}

.sujet .supprimer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: .8rem;
    font-weight: 200;
    transition: .2s;
}

.sujet .fa-solid{
margin-right: 3px;
transition: .2s;
}

.sujet .statut:hover, .sujet .supprimer:hover{
    color: var(--clr-text2);
    cursor: pointer;
}

.sujet .statut:hover .fa-solid, .sujet .supprimer:hover .fa-solid{
    color: var(--clr-text2);
    cursor: pointer;
}


/* -----------------------------------MESSAGES------------------------------------ */

.infoSujet{
    background-color: var(--clr-background3);
    height: 100px;
    width: 800px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.nouveauMessage{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: fit-content;
    padding:  10px;
    background-color: var(--clr-background3); 
    border-radius: 5px;
}

.nouveauMessage .champMessage{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px ;
    border-radius: 5px;
    background-color: var(--clr-background1);
    border: none;
    outline: none;
    color: var(--clr-text1);
    resize: none;

}

.nouveauMessage .btnAjouter{
    margin-top: 10px;
    padding: 5px;
    background-color: var(--clr-accent2);
    border-radius: 5px;
    width: 20%;
    vertical-align: middle;
    line-height: 20px;
    border: none;
    transition: .2s;
}

.nouveauMessage .btnAjouter:hover{
    cursor: pointer;
    background-color: var(--clr-accent2hover);

}

.nouveauMessage .champMessage::placeholder {
    color: var(--clr-text1);
    font-weight: 200;
 }

.listeMessages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.message2{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-background3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s;
}

.message2 .pseudo{
    width: 92%;
    color: var(--clr-accent2);
    transition: .2s;
}

.message2 .pseudo:hover{
    color: var(--clr-accent2hover);
}

.message2 .role{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--clr-accent2);
    justify-content: flex-end;
}

.message2 .date{
    width: 100%;
    font-size: .8rem;
    font-weight: 200;
}

.message2 .texte{
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
    background-color: var(--clr-background1);
}

.message2 .interactions{
    display: flex;
    width: 100%;
}

.message2 .vote{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vote button{
    background: none;
    border: none;
}

.vote .fa-up-long,.fa-down-long{
    padding: 5px;
    font-size: 1rem;
    background-color: none;
    color: var(--clr-text1);
    transition: .2s;
}

.vote .fa-up-long:hover{
    color: var(--clr-accent2);
    cursor: pointer;
}

.vote .fa-down-long:hover{
    color: var(--clr-accent3);
    cursor: pointer;
}

.message2 .supprimer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.message2 .btnSupprimer{
    padding: 3px 5px;
    background-color: var(--clr-accent3);
    border-radius: 5px;
    transition: .2s;
}

.message2 .btnSupprimer:hover{
    background-color: var(--clr-accent3hover);
}




footer{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: var(--clr-background3);
}